.card-cart-container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid #d9534f;
  
}
.changeQuantity{
    cursor: pointer;
}
@media screen and (max-width:600px){
    .itemsTopContainer{
        margin-top: 60%;
    }
    
}
.modal-open {
    overflow: scroll;
}
@media screen and (min-width:601px) and (max-width:1199px){
    .itemsTopContainer{
        margin-top: 10%;
    }
    
}


@media screen and (min-width:1200px){
    .itemsTopContainer{
        margin-top: 8%;
    }
    
}
