.footerMainContainer{
    background-color: #f8f9fa;
    min-height: 40vh;
}

.FooterList{
    list-style-type: none;
}

.FooterListItem{
    color: grey;
}


.FooterListItem:hover{
    cursor: pointer;
    color:black
}

.footerIcon{
    cursor: pointer;
}