.topContainer{
    background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}