.eachCard{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}


@media screen and (max-width:600px){
    .itemsTopContainer{
        margin-top: 30%;
    }
    
}

@media screen and (min-width:601px) and (max-width:1199px){
    .itemsTopContainer{
        margin-top: 20%;
    }
    
}


@media screen and (min-width:1200px){
    .itemsTopContainer{
        margin-top: 8%;
    }
    
}